.addNewTask__form {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-gap: 20px;
}


.addNewTask__create {
   padding: 10px;
   border: 1px solid #ddd;
}

.addNewTask__button {
   color: #fff;
   background-color: #008080;
   border: none;
}

.addNewTask__button:hover {
   background: #00a7a7;
}