.addNewTask__form {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-gap: 20px;
}


.addNewTask__create {
   padding: 10px;
   border: 1px solid hsl(0, 0%, 87%);
}

.addNewTask__button {
   color: hsl(0, 0%, 100%);
   background-color: hsl(180, 100%, 25%);
   border: none;
   transition: 1s;
   cursor: pointer;
  
}

.addNewTask__button:hover {
   background: hsl(180, 100%, 35%);
    transform: scale(1.1);

}