.tasksList {
   list-style: none;
   margin: 0;
   padding: 0;
}

.tasksList__item {
   display: grid;
   grid-template-columns: auto 1fr auto;
   grid-gap: 10px;
   align-items: center;
   padding: 10px;
   border-bottom: 1px solid #ddd;
}

.taskList__item--done {
   text-decoration: line-through;
}

.task__item--hide {
   display: none;
}

.js-done {
   background: #1fbf1f;
   color: #fff;
   border: none;
   width: 25px;
   height: 25px;
}

.js-done:hover {
   background: #25dc25
}

.js-remove {
   background: #eb3e3e;
   color: #fff;
   border: none;
   width: 25px;
   height: 25px;
}

.js-remove:hover {
   background: #e45858
}