@media (max-width: 767px) {
   .addNewTask__form {
      grid-template-columns: 1fr;
   }

   .section__header {
      display: grid;
      grid-template-columns: 1fr;
   }

   .section__buttons {
      display: grid;
      grid-template-columns: 1fr;
   }

   .buttons {
      padding: 20px;
   }

   .section__listTasks {
      grid-template-columns: 1fr;
   }

}