html {
   box-sizing: border-box;
}

*, ::after, ::before {
   box-sizing: inherit;
}

body {
   font-family: "Montserrat", sans-serif;
   max-width: 900px;
   background: hsl(0, 0%, 93%);
   margin: 0 auto;
   padding: 20px;
}

.section {
   margin: 10px 0;
   background: hsl(0, 0%, 100%);
}

.section__title {
   padding: 20px;
   margin: 0;
}

.section__header {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   border-bottom: 1px solid hsl(0, 0%, 87%);
}

.section__buttons {
   color: hsl(180, 100%, 25%);
   text-align: center;
}

.buttons {
   color: hsl(180, 100%, 25%);
   background: none;
   border: none;
   transition: 0.5s;
   cursor: pointer;
}

.buttons:hover {
   color: hsl(180, 100%, 40%);
}

.buttons:disabled {
   color: hsl(0, 5%, 75%);
}

.section__addTask {
   padding: 20px;
}